{% extends 'base.html' %}

{% block title %}Sun Fire{% endblock %}

{% block content %}

<div id="about_page_background">

<br>
<h1>Welcome to Sunfire</h1>
<br>

Sunfire will be with you in your most important moments.<br> 
Founded in 2008, we have been delivering custom,<br> 
unique jewels to our clients and their loved ones<br> 
for over a decade.  With a vast range of products <br> 
to select from, we are certain you will find your match.<br> 
For more info, send us a message with your requirements <br> 
and we will happily guide you through the process!
</div>
{% endblock %}