{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Us</h2>
        <!-- Icon divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"></div><i class="fas fa-envelope"></i></div>
            <div class="divider-custom-line"></div>
        </div>

            <div class="text-center text-secondary mb-0">
                <p>
                    For any enquiries send us a message and we will do our best to get back to you as soon as possible
                </p>
                <p>
                    Alternatively, email us directly: <a href="mailto:unfazed.md@gmail.com">unfazed.md@gmail.com</a>
                </p>
            </div>

        <!-- Contact section form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">

                {% if success %}
                <div class="alert alert-success" role="alert">
                    Your message was sent!
                </div>
                {% endif %}
                <form id="contactForm" name="sentMessage" novalidate="novalidate" method="post">
                    {% csrf_token %}

                    {% if form.non_field_errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}

                    {% for field in form %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            {{field.label_tag}}
                            {{ field }}
                            {% for error in field.errors %}
                            <p class="help-block text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <br />
                    <div class="form-group"><button class="btn sf-bg-primary btn-xl text-white" id="sendMessageButton" type="submit">Send</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}