{% extends 'base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
<h1>
    Explore our products
</h1>
<!--Displays all products (instances of the Jewel class) in 3 columns per row-->

{% if jewel_list %}
    <div class="row" id="product_page_background">
        {% for jewel in jewel_list %}                
            <div class="column">
                <figure id="product_page_figures">            
                    <img src="{{ jewel.image.url }}" width="100%" alt="{{ jewel.title }}">
                    <figcaption>{{ jewel.title }}<br>
                        £{{jewel.price}}
                        <br>
                        {{jewel.description}}          
                    </figcaption>
                </figure>                             
                <br>
            </div>
        {% endfor %} 
    </div>   
{% else %}
    <div>There are no jewels in stock.</div>
{% endif %}
{% endblock %}
