#main {
    padding-top: 74px;
}

@media (min-width: 992px) {
    #main {
      padding-top: 104px;
    }
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-otf-webfont.eot');
    src: url('../fonts/alexbrush-regular-otf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alexbrush-regular-otf-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-otf-webfont.woff') format('woff'),
         url('../fonts/alexbrush-regular-otf-webfont.ttf') format('truetype'),
         url('../fonts/alexbrush-regular-otf-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.navbar-brand {
    /*font-family: "alex_brushregular";*/
}

.sf-bg-primary {
    background-color: #983352;
}

#mainNav .navbar-nav li.nav-item a.nav-link{
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s, color .2s;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover{
    color: #983352;
    border-color: #983352;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active{
    background: none;
    color:white;
    border-color: #983352;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active:hover{
    background: none;
    color: #983352;
}

.mastehead .masthead-avatar {
    width: 140px;
    height: 150px;
}

.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
@media (min-width: 992px) {
    .masthead {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.masthead {
    background-image: url("../img/bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.masthead-heading{
    color: black;
}

.bi.bi-instagram {
    color: black;
}

.bi.bi-twitter {
    color: black;
}

.bi.bi-facebook {
    color: black;
}

.bi.bi-linkedin {
    color: black;
}

p a + a {
    padding-left: 1em;
}

#outer {
    text-align: center;
}

.submit-row {
    text-align: center;
}

#loginbutton {
    display: inline-block;
}

#gobackbutton {
    display: inline-block;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 412px;
    margin: 1%;
}

img {
    max-width: 410px;
    height: 250px;
}

figcaption {
    background-color: rgb(231, 231, 231);
    color: rgb(19, 18, 18);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#product_page_background{
    background-image: url("../img/bg.jpg");
    background-repeat:no-repeat;
    background-size:cover
}

#about_page_background{
    background: url("../img/bg3.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    min-height:1200px;
    font-size:xx-large;
    text-align: center;
    /*font-family:"alex_brushregular";*/
}

#product_page_figures {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 3px;
    max-width: 312px;

}

#product_page_figures img {
    max-width: 310px;
    max-height: 140px;
}

.row {
    padding: 6%;
    margin:0px;
    min-width:100%;
    max-width:100%;

}
.column {
    width: 33.33%;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

h1 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0%;

}

h2 {
    text-align: center;
}

a {
    color: rgb(189, 129, 0);
    
}

a:hover {
    color: rgb(179, 122, 2);
    text-decoration: none;
}


footer {
    margin: 0;
    padding:0;
    background-color: lavender;
    text-align: center;
}
